In [40]:
n=5
for i in range(n):
    print("*",end=' ')
print()

* * * * *

In [34]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [52]:
# increasing triangle patterm
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# decreasing triangle
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [59]:
# Right sided triangle
n=5
for i in range(n):
    for j in range(i,n):
       print(" ",end=' ')
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
# Right sided triangle
n=5
for i in range(n):
    for j in range(i+1):
       print(" ",end=' ')
    for j in range(i,n):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [67]:
# Hill pattern
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")   
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [11]:
n=int(input())
for row in range(1,n+1):
    for space in range(n-row):
        print(' ',end='')
    for star in range(row):
        print('*',end=' ')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [3]:
# Resverse Hill pattern 
n=int(input())
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    for j in range(i,n):
        print('*',end=' ')   
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [93]:
# Dimond pattern
n=5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')  
    print() 
for i in range(n):     
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [6]:
n=5
for row in range(1,n+1):
    for col in range(1,n+1):
        if (row in (1,3) or col in (1,5)) and not((row==1 and col==1) or (row==1 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
* * * * *
*       *
*       *

In [28]:
# p
n=5
for row in range(1,n+1):
    for col in range(1,n+1):
        if (row in (1,3) or col in (1,5)) and not((row==4 and col==5) or (row==5 and col==5) or (row==4 and col==3) or (row==4 and col==5) or (row==1 and col==5) or (row==3 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
* * * *
*
*

In [27]:
# R
n=5
for row in range(1,n+1):
    for col in range(1,n+1):
        if (row in (1,3,4) or col in (1,5)) and not((row==4 and col==2) or (row==4 and col==3) or (row==4 and col==5) or (row==1 and col==5) or (row==3 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
* * * *
*     *
*       *

In [29]:
# A
n=5
for row in range(1,n+1):
    for col in range(1,n+1):
        if (row in (1,3) or col in (1,5)) and not((row==1 and col==1) or (row==1 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
* * * * *
*       *
*       *

In [30]:
# N 
n=5
for row in range(1,n+1):
    for col in range(1,n+1):
        if (col in (1,5) or row==col):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [31]:
# A
n=5
for row in range(1,n+1):
    for col in range(1,n+1):
        if (row in (1,3) or col in (1,5)) and not((row==1 and col==1) or (row==1 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
* * * * *
*       *
*       *

In [60]:
# Y
n=5
for row in range(1,n+1):
    for col in range(1,n+1):
        if (row==2 or col in (1,3,5)) and not ((row==2 and col==1) or (row==4 and col==1) or (row==5 and col==1) or (row==3 and col==1) or (row==1 and col==3) or (row==2 and col==3) or (row==2 and col==5) or (row==3 and col==5) or (row==4 and col==5) or (row==5 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
  *   *
    *
    *
    *

In [63]:
# PRANAY
n=5
for row in range(1,n+1):
    for col in range(1,n+1):
        if (row in (1,3) or col in (1,5)) and not((row==4 and col==5) or (row==5 and col==5) or (row==4 and col==3) or (row==4 and col==5) or (row==1 and col==5) or (row==3 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for col in range(1,n+1):
        if (row in (1,3,4) or col in (1,5)) and not((row==4 and col==2) or (row==4 and col==3) or (row==4 and col==5) or (row==1 and col==5) or (row==3 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for col in range(1,n+1):
        if (row in (1,3) or col in (1,5)) and not((row==1 and col==1) or (row==1 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for col in range(1,n+1):
        if (col in (1,5) or row==col):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for col in range(1,n+1):
        if (row in (1,3) or col in (1,5)) and not((row==1 and col==1) or (row==1 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')        
    for col in range(1,n+1):
        if (row==2 or col in (1,3,5)) and not ((row==2 and col==1) or (row==4 and col==1) or (row==5 and col==1) or (row==3 and col==1) or (row==1 and col==3) or (row==2 and col==3) or (row==2 and col==5) or (row==3 and col==5) or (row==4 and col==5) or (row==5 and col==5)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *   * * * *     * * *   *       *   * * *   *       *
*       * *       * *       * * *     * *       *   *   *
* * * *   * * * *   * * * * * *   *   * * * * * *     *
*         *     *   *       * *     * * *       *     *
*         *       * *       * *       * *       *     *